html {
    font-size: 25px;
    color: #0B4575;
}

body {
    font-size: 25px;
    color: black;
    padding: 0 5px 5px 5px;
}

p {
    line-height: 1.5;
    margin: 0px 0;
    font-size: 15px;
    color: black;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 300;
    margin: 0px 0;
}

h1 {
    margin: 0;
    padding: 20px 0;
    color: #0B4575;
}

h2 {
    font-size: 25px;
    color: #0B4575;
    font-family: 'Josefin Sans', sans-serif;
    font-style: italic;
    font-weight: 600;
    margin: 15px 0;
    margin: 0px 0;
}

h3 {
    font-size: 22px;
    color: #0B4575;
    font-family: 'Josefin Sans', sans-serif;
    font-style: italic;
    font-weight: 600;
    margin: 15px 0;
    margin: 0px 0;
}

.date {
    font-size: 14px;
    color: grey;
    font-family: 'Josefin Sans', sans-serif;
    font-style: italic;
    font-weight: 300;
    margin: 0px 0px 10px 0px;
    padding: 0px 0;
}

.abstract {
    font-size: 16px;
    color: black;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 300;
    margin: 0px 0;
}

h5 {
    font-size: 15px;
    color: #0B4575;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    font-style: italic;
    margin-bottom: 25px 0;
}

h6 {
    color: #0B4575;
    font-size: 12px;
    font-weight: 300;
    font-family: 'Josefin Sans', sans-serif;
    font-style: italic;
}

a {
    color: #0B4575;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}



li > a {
    color: #0B4575;
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;
    font-style: italic;
    font-weight: 300;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

li > p > a {
    color: #0B4575;
    line-height: 1.5;
    margin: 0px 0;
    font-size: 15px;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-style: sans-serif;
    margin: 0px 0;
}

ul {
    list-style-type: disc;
    list-style-position: outside;
}

ul.post_list {
    list-style-type:none;
    padding-left: 0px;
}

a.post_title {
    font-size: 20px;
    color: #0B4575;
    font-family: 'Josefin Sans', sans-serif;
    font-style: italic;
    font-weight: 600;
    margin: 0px 0;
}

a:focus, a:hover {
    color: #D00000;
    text-decoration: none;
}

blockquote {
    font-style: italic;
    color: #868e96;
}

::-moz-selection {
    color: #fff;
    background: #64A6Bd;
    text-shadow: none;
}

::selection {
    color: #fff;
    background: #64A6Bd;
    text-shadow: none;
}

img::-moz-selection {
    color: #fff;
    background: transparent;
}

img::selection {
    color: #fff;
    background: transparent;
}

img::-moz-selection {
    color: #fff;
    background: transparent;
}

@media only screen and (min-width: 768px) {
    header.masthead .site-heading {
        padding: 30px 0;
    }
}

@media only screen and (min-width: 768px) {
    header.masthead .page-heading h1,
    header.masthead .site-heading h1,
}

footer {
    padding: 50px 0 65px;
}

footer .list-inline {
    margin: 0;
    padding: 0;
}

.btn {
    font-size: 12px;
    font-weight: 600;
    padding: 15px 25px;
    letter-spacing: 1px;
    border-radius: 0;
    font-family: 'Josefin Sans', sans-serif;
    font-style: italic;
}

.btn-primary {
    background-color: #0085A1;
    border-color: #0085A1;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    color: #fff;
    background-color: #00657b !important;
    border-color: #00657b !important;
}

.btn-lg {
    font-size: 12px;
    padding: 25px 35px;
}

.navbar-custom {
    color: black;
    font-size: 20px;
    background-color: #ffffff;
    padding: 5px 10px 5px 10px;
}

header .masthead p {
    text-align: center;
    font-size: 50px;
    font-family: 'Josefin Sans', sans-serif;
    font-style: italic;
    font-weight: 600;
    line-height: 1.1;
    padding: 25px 0 0 0;
    margin: 0 0 0 0;
    color: #0B4575;
    background-color: #ffffff;
}

img {
  max-width: 100%;
  height: auto;
}
