{% extends "base.html" %}

{% block content_title %}{% if search %}Search "{{ search }}"{% endif %}Writing{% endblock %}


{% block content %}
  {% for entry in object_list %}
    <h3>
      <a class="post_title" href="{% if entry.published %}{{ url_for('detail', slug=entry.slug) }}{% else %}{{ url_for('edit', slug=entry.slug) }}{% endif %}">
        {{ entry.title }}
      </a>
    </h3>
    <h5>{{ entry.timestamp.strftime('%Y-%m-%d') }}</h5>
  {% endfor %}
  {% include "includes/pagination.html" %}
{% endblock %}
